---
layout: default
title: Marionnettissimo - Présentation
pill: 1
---
<section id="banner">
  <header>
    <p>
      Parmi les équipes passionnées qui ont contribué à l’éclosion d’un mouvement sans précédent de reconnaissance de cet art multiforme qu’est la marionnette, Marionnettissimo joue un rôle de premier plan en tant que structure de référence dans l’agglomération toulousaine et au niveau international.
    </p><br>
    <p>
      Ancrée depuis 2006 à Tournefeuille, l’association travaille toute l’année sur le développement de projets d’action culturelle locaux et internationaux, à destination de tous les publics.
    </p><br>
    <p>  Chaque année, notre activité la plus importante est le festival Marionnettissimo qui a lieu tous les ans au mois de novembre depuis 1990.</p>
  </header>
</section>

<section id="intro" class="container">
  <header class="major">
    <h2>L'équipe</h2>
  </header>
  <div class="row">
    {% for team in site.team %}
    {% assign mod = forloop.index | modulo: 4 %}
    {% if mod == 1 %}
    <div class="3u 12u(mobile) 0%">
      <section class="first">
        <a href="#"><img src="{{ team.image_path }}" alt="{{ team.name }}"></a>
        <header>
          <h2>{{ team.name }}</h2>
        </header>
        <p>{{ team.content }}</p>
      </section>
    </div>
    {% elsif mod == 2 or mod == 3 %}
    <div class="3u 12u(mobile)">
      <section class="middle">
        <a href="#"><img src="{{ team.image_path }}" alt="{{ team.name }}"></a>
        <header>
          <h2>{{ team.name }}</h2>
        </header>
        <p>{{ team.content }}</p>
      </section>
    </div>
    {% else %}
    <div class="3u 12u(mobile)">
      <section class="last">
        <a href="#"><img src="{{ team.image_path }}" alt="{{ team.name }}"></a>
        <header>
          <h2>{{ team.name }}</h2>
        </header>
        <p>{{ team.content }}</p>
      </section>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <div class="12u">
    <h2>EQUIPE HORS LES MURS</h2>
    <p>Alain FAUBERT, Directeur technique / Pascal PARISELLE, Création graphique / Nicolas BATTIST, Mécénat et relations entreprises - Culture Eco et une soixantaine de bénévoles et hébergeurs.</p>
    <h2>CONSEIL D'ADMINISTRATION</h2>
    <p>Rosetta ARCURI, Patrick AUZET-MAGRI, Jean-François BIARD, Laure CHIRON, Marie-France FÉGER, Matthieu JANTZEN, Jean KAPLAN, Laura KAPLAN, Patrice RENARD, Association L’UsinoTOPIE.</p>
    <h2>FONDATEUR DU FESTIVAL</h2>
    <p>Jean KAPLAN.</p>
  </div>
  <section>
    <header class="major">
      <h2>UNE HISTOIRE DE PASSION</h2>
    </header>
    <div class="row">
      <div class="12u">
        <p>Depuis 1990, nous n’avons cessé de défricher, de créer, d’accompagner les nouveaux territoires de la marionnette. Mais notre élan vient de loin : le théâtre d’objets était déjà présent dans les oeuvres de Calder ou de Tinguely, Craig l’avait théorisé dès le début du XXe siècle, le Bauhaus ou les Dadaïstes ont ouvert la voie vers un théâtre différent, insolite, à la fois populaire et au coeur des évolutions contemporaines.</p>
      </div>
      <div class="4u 12u(mobile)" style="text-align:left;">
        <p>
          <b>En 1989, Marina Montefusco, Rosetta Arcuri et Jean Kaplan, marionnettistes tous les trois, sont parties prenantes d’une effervescence incroyable.</b>
        </p>
        <p>Sur la planète marionnettique, les équipes artistiques cherchent, renouvellent leurs langages, vont à la rencontre des autres arts. Mais la marionnette est encore cantonnée à des images réductrices et dévalorisantes. C’est pourquoi nos trois utopistes, rejoints par un groupe de marionnettistes et de passionnés, créent le premier festival Marionnettissimo. Celui-ci a lieu au printemps 90 en partenariat avec de nombreuses structures de l’agglomération toulousaine. Il se poursuivra sur un rythme biennal jusqu’en 2006, puis annuel à partir de 2008.</p>
      </div>
      <div class="4u 12u(mobile)" style="text-align:left;">
        <p><b>« Militants de la marionnette » dès 1990, les créateurs de Marionnettissimo peuvent être fiers d’avoir contribué à l’éclosion d’un mouvement de reconnaissance sans précédent de cet art multiforme. </b></p>
        <p>En effet, aujourd’hui, la marionnette est partout : de nombreuses scènes pluridisciplinaires l’accueillent dans leurs programmations, qu’il s’agisse de théâtres municipaux, de scènes nationales ou de CDN. Marionnettissimo a joué son rôle dans cette évolution en défrichant, en prenant des risques artistiques et finalement en créant une relation de confiance avec le public. </p>
        <p>Aujourd’hui, ce combat semble gagné. Par exemple, la notion de spectacles à destination d’un public d’adultes ne fait plus écarquiller les yeux de personne. Cependant, il y a encore à convaincre chacun de l’expérimenter par soi-même : rendre compte d’une effervescence artistique qui, réalisant l’utopie du « spectacle total », intègre théâtre, musique, danse, arts plastiques et nouvelles technologies de l’image, cela reste le mandat essentiel de Marionettissimo.</p>
      </div>
      <div class="4u 12u(mobile)" style="text-align:left;">
        <p><b>Et aujourd'hui ?</b></p>
        <p>En 2016, à la suite d'un travail en commun mené pendant deux ans  avec le Conseil d'administration, Jean Kaplan a transmis la direction de la structure à trois co-directrices déjà salariées. Cette belle aventure humaine permettra la pérennisation d'un projet dont le cœur reste de favoriser le développement des arts marionnettiques dans un esprit d’ouverture, d’échange et de coopération aussi bien en interne qu’avec le public et les partenaires professionnels.</p>
        <p>Il s’agira :</p>
        <ul>
          <li>De défendre un art populaire de qualité dans son évolution contemporaine aussi bien que dans son enracinement traditionnel.</li>
          <li>De nourrir la capacité à penser le monde, à le rêver et parler d’un certain « droit à l’inutile ». </li>
        </ul>
      </div>
    </div>

  </section>

</section>
